<div class="container-fluid text-center">
  <div class="menuContacts">
    <div class="menuContactsLinks">
      <ul>
        <li (click)="goToAll()" class="activeLink">All contacts</li>
        <li (click)="goToFavorites()">My favorites</li>
      </ul>
    </div>
  </div>
  <div class="text-center">
    <div class="">
      <input type="text" [(ngModel)]="searchString" class="searchField" />
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-3 col-md-4 col-sm-12 col-12">
      <a [routerLink]="['/add_new']">
        <div class="contactCardAddNew row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-2 center">
            <i class="fa fa-plus fa-2x"></i>
          </div>
          <div class="col-xl-12 col-md-12 col-sm-12 col-10 center">
            Add New
          </div>
        </div>
      </a>
    </div>
    <div *ngFor="let contact of contactsList | filterAll: searchString; let i = index" class="col-xl-3 col-md-4 col-sm-12 col-12">
      <div class="contactCard">
        <div class="anyScreen">
          <div class="row">
            <div class="row col-xl-12 col-md-12 col-sm-12 col-12 iconPack">
              <div class="col-xl-8 col-md-8 col-sm-8 col-8">
                <i *ngIf="contact.contact_favorite == false" class="iconCustom iconHeart fa fa-heart-o" (click)="selectFavorite(contact.contact_id)"></i>
                <i *ngIf="contact.contact_favorite == true" class="iconCustom iconHeart fa fa-heart" (click)="selectFavorite(contact.contact_id)"></i>
              </div>
              <div class="col-xl-2 col-md-2 col-sm-2 col-2 float-right">
                <i class="iconCustom iconHeart fa fa-pencil hiddenIcon" [routerLink]="['/edit', contact.contact_id]"></i>
              </div>
              <div class="col-xl-2 col-md-2 col-sm-2 col-2 float-right">
                <i class="iconCustom fa fa-trash-o hiddenIcon" (click)="onDelete(i)"></i>
              </div>
            </div>
            <div class="col-xl-12 col-md-12 col-sm-12 col-12 text-center">
              <img src="{{ contact.contact_avatar }}" alt="avatar" class="rounded-circle contactCardImg" [routerLink]="['/details', contact.contact_id]" />
            </div>
            <div class="col-xl-12 col-md-12 col-sm-12 col-12 text-center">
              <div [routerLink]="['/details', contact.contact_id]">{{ contact.contact_first_name }} {{ contact.contact_last_name }}</div>
            </div>
          </div>
        </div>
        <!-- mobile -->
        <div class="mobileScreen">
          <div class="row mobileCardAll">
            <div class="col-sm-3 col-3" [routerLink]="['/details', contact.contact_id]">
              <img src="{{ contact.contact_avatar }}" alt="avatar" class="rounded-circle contactCardImg" />
            </div>
            <div class="col-sm-5 col-5">
              <div class="itemsInCard" [routerLink]="['/details', contact.contact_id]">{{ contact.contact_first_name }} {{ contact.contact_first_name }}</div>
            </div>
            <div class="col-sm-4 col-4">
              <div class="row">
                <div class="col-sm-4 col-4 itemsInCard">
                  <i *ngIf="contact.contact_favorite == false" class="iconCustom iconHeart fa fa-heart-o" (click)="selectFavorite(contact.contact_id)"></i>
                  <i *ngIf="contact.contact_favorite == true" class="iconCustom iconHeart fa fa-heart" (click)="selectFavorite(contact.contact_id)"></i>
                </div>
                <div class="col-sm-4 col-4 itemsInCard float-right">
                  <i class="iconCustom iconHeart fa fa-pencil" [routerLink]="['/edit', contact.contact_id]"></i>
                </div>
                <div class="col-sm-4 col-4 itemsInCard float-right">
                  <i class="iconCustom fa fa-trash-o" (click)="onDelete(i)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
